.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 300px 1fr 100px;
    grid-gap: 0;
    height: 150vh;
    grid-template-areas: 
    "head_title head_title"
    "top_menu top_menu"
    "banner banner"
    "main_content main_content"
    "footer footer";
}

#head_title{
    background-color: #E0AFA0;
    grid-area: head_title;
}
#top_menu{
    background-color: #cab09a;
    grid-area: top_menu;
}
#banner{
    background-color: #a8968c;
    grid-area: banner;
}
#main_content{
    background-color: #F4F3EE;
    grid-area: main_content;
}
#footer{
    background-color: #BCB8B1;
    grid-area: footer;
}