.container{
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 850px 700px 100px;
    grid-gap: 0;
    height: 1800px;
    grid-template-areas: 
    "head_title head_title"
    "top_menu top_menu"
    "banner banner"
    "main_content main_content"
    "footer footer";
}

#head_title{
    background-color: #E0AFA0;
    grid-area: head_title;
}
#top_menu{
    background-color: #cab09a;
    grid-area: top_menu;
}
#banner{
    /* background-color: #a8968c; */
    grid-area: banner;  
    background-image: url('design_src/인스타.png');
    background-size: cover;
    background-position: 0% 30%;
}
#main_content{
    /* background-color: #F4F3EE; */
    grid-area: main_content;
    /* background-image: url('/design_src/인스타-3.png'); */
}
#footer{
    background-color: #BCB8B1;
    grid-area: footer;
}

#logo{
    position: relative;
    top: 20px;
    padding-left: 20px;
    width: 100px;
}
#search{
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    margin-top: 35px;
    left: 50%;
    width: 50%;
    height: 20px;
    outline: none;
    border-style: solid;    
    border-radius: 10px;
    border-color: red;
}
#register{
    position: absolute;
    margin-top: 40px;
    margin-right: 20px;
    right: 0;
}

#m_btn{
    position: relative;
    top: 10px;
    width: 30px;
    padding-left: 10px;
}
#menu_list{
    position: relative;
    padding-left: 10%;
}
#menu_list a{
    text-decoration: none;
    color: white;
}
.m1{
    position: relative;
    left: 10%;
}
.m2{
    position: relative;
    left: 20%;
}
.m3{
    position: relative;
    left: 30%;
}
.m4{
    position: relative;
    left: 40%;
}
.m5{
    position: relative;
    left: 50%;
}

#content_1{
    position: relative;
    padding-top: 20px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}
#itm1{
    position: relative;
    /* display: inline-block; */
    height: 450px;
    background-image: url('design_src/itm_bag.png');
    background-size: 450px 450px;
    background-repeat: no-repeat;
    left: 15%;
    top: 80px;
}
#itm2{
    position: relative;
    /* display: inline-block; */
    height: 450px;
    background-image: url('design_src/itm_bag.png');
    background-size: 450px 450px;
    background-repeat: no-repeat;
    left: 40%;
    bottom: 20px;
}
.p_name{
    display: inline-block;
    color: #b38c8c;
    position: relative;
    top: 450px;
}
.p_price{
    display: inline-block;
    color: #b38c8c;
    position: absolute;
    top: 470px;
    left: 0;
}